<div class="form-two-container">
    <div class="set-time">
        <h2>Set Time</h2>
        <div class="ngx-timepicker-field-example">
            <ngx-timepicker-field [defaultTime]="'11:00 am'" [minutesGap]="1"></ngx-timepicker-field>
        </div>
    </div>
    <section class="selectDate" >
        <h4>Select Required Report Types</h4>
        <p><mat-checkbox formControlName="weelky">weekly</mat-checkbox></p>
        <p><mat-checkbox formControlName="week-two">Every 2 weeks</mat-checkbox></p>
        <p><mat-checkbox formControlName="monthy">Monthly</mat-checkbox></p>
        <p><mat-checkbox formControlName="quaterly">Quaterly</mat-checkbox></p>
        <p><mat-checkbox formControlName="yearly">Yearly</mat-checkbox></p>
      </section>
</div>